<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="ion-text-center">Tất cả bài hát</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p class="announcement" alt="ammount_song">
    {{announcement}}
  </p>

  <ion-item-group class="ion-margin">
    <ion-item
    *ngFor="let song of songs" >
      <img [src]="'/assets/images/albums/' + dasherize(song.image) + '.jpg'" width="40">
      <ion-label>
        <p class="song_title">{{song.title}}</p>
        <p class="singer_name">a</p>
      </ion-label>
    </ion-item>
  </ion-item-group>

</ion-content>