<ion-header [translucent]="true">
  <ion-toolbar>
    <h1 class="ion-text-center">Tất cả bài hát</h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <p class="announcement" alt="ammount_song">
    Bài hát (0)
  </p>

  <ion-item-group class="ion-margin">

    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    
  </ion-item-group>

</ion-content>