<ion-tabs>
  <div class="player">
    <div class="progress-bar">
      <div class="progress" [style.width]="progress + '%'"></div>
    </div>
    <ion-row class="ion-no-padding">
      <ion-col size="2" class="ion-no-padding">
        <img #songImage src="./assets/images/albums/when-we-all-fall-asleep.jpg">
      </ion-col>
      <ion-col size="8" class="ion-align-self-center">
        <b><span #songName style="color: black;">All the Good Girls Go to Hell</span></b><br>
        <span #singeName style="color: dimgray;">Billie Eilish</span>
      </ion-col>
      <ion-col size="2" class="ion-text-center ion-no-padding ion-align-self-center">
        <ion-icon name="play-sharp" color="dark" size="large"></ion-icon>
      </ion-col>
    </ion-row>
  </div>




  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Trang chủ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon aria-hidden="true" name="search-outline"></ion-icon>
      <ion-label>Tìm kiếm</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account">
      <ion-icon aria-hidden="true" name="person-circle-outline"></ion-icon>
      <ion-label>Tài khoản</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>

