<ion-header collapse="condense" >
  <ion-toolbar>
    <ion-title size="large">Tìm kiếm</ion-title>
  </ion-toolbar>
</ion-header>
<ion-toolbar>
  <div class="search">
    <ion-searchbar
    animated="true" 
    placeholder="Animated"
    show-clear-button="focus"
    show-cancel-button="focus"
    placeholder="Bạn muốn nghe gì?"
    search-icon="search-circle"
    [(ngModel)]="searchQuery" 
    (input)="search()"></ion-searchbar>
  </div>
</ion-toolbar>
<ion-content>
  

  <div class="headlines">
    <ion-toolbar>
      <ion-title size="medium">
        Những bài hát nổi bật
      </ion-title>
    </ion-toolbar>
  </div>
  <ion-list>
    <ion-item button *ngFor="let item of filteredList">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>
