<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Hồ sơ cá nhân</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" class="center_header">Hồ sơ cá nhân</ion-title>
    </ion-toolbar>
  </ion-header>

  <img class="center_avatar" src="assets/icon/account.png"/>

  <div class="ion-text-center">
    <ion-label alt="following_count" class="bold_text_1" color="dark">0    </ion-label>
    <ion-label alt="following" color="medium">Người theo dõi  </ion-label>

    <ion-text color="dark" class="bold_text_1">∙</ion-text>

    <ion-label alt="following" color="medium">  Đang theo dõi    </ion-label>
    <ion-label alt="following_count" class="bold_text_1" color="dark">0</ion-label>
  </div>

  <div alt="profile_name" class="profile_name">
    User test
  </div>

  <ion-item-group>  

    <ion-item lines="none" href="./tabs/account/song-storage">
      <ion-icon name="musical-notes-outline"></ion-icon>
      <ion-label class="selection">
        <h1>Bài hát</h1>
        <p alt="amount_song">{{songs.length}}</p>
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label class="selection">
        <h1>Danh sách phát</h1>
        <p alt="amount_playlist">0</p>
      </ion-label>
    </ion-item>
    
    <ion-item lines="none">
      <ion-icon name="heart-outline"></ion-icon>
      <ion-label class="selection">
        <h1>Yêu thích</h1>
        <p alt="amount_favorite">0</p>
      </ion-label>
    </ion-item>

  </ion-item-group>

</ion-content>